@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Global */
*{
    margin: 0;
    scroll-behavior: smooth;
}
:root{
    --darkblue: #011826;
    --pink: #E7174A;
    --orange: #FF9A16;
    --vert: #2CC1AA;

    --titles:"Raleway", sans-serif;
}
body{
    background-color: var(--darkblue);
    font-family: "Open Sans", sans-serif;
}
p,
a,
ul{
    color: white;
    text-decoration: none;
    list-style: none;
}
.btn{
    display: block;
    padding: 0 5px;
    border: 1px solid orange;
    background: orange;
    cursor: pointer;
        &:hover{
            background-color: var(--pink)!important;
            border: 1px solid var(--pink)!important;
            color: white!important;
        }
    }
a:hover{
    color: var(--pink)!important;
    cursor: pointer;
}
h1,
h2{
    font-family: var(--titles);
    font-size: 36px;
    font-weight: 700;
    justify-self: center;
}
h3{
    font-size: 21px;
    font-weight: 700;
    font-family: var(--titles);
}
header,
#accueil{
    max-width: 1470px;
    margin: auto;
}
/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
        nav ul{
            display: flex;
            gap: 30px;
        }
        a{
            color: var(--orange);
        }
        .active{
            color: var(--pink);
        }
        img{
            width: 180px;
        }
        li a:nth-child(6){
            color: white;
        }
        nav > ul > li.btn a{
            color: white;
        }
        .btn{
            position: relative;
            &:hover{
                background-color: var(--pink);
                border: 1px solid var(--pink);
                color: white!important;
            }
            &:hover a {
                color: white !important;
            }
        }
    #burgermenu{
        display: none;
    }
}
/* Modales HTML*/
.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 215px; right: 10px;
    bottom: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}
.modal:target {
    visibility: visible;
    opacity: 1;
  }
.modal_content {
    position: relative;
    width: 260px;
    background: white;
    padding-bottom: 10px;
    color: var(--darkblue);
        h1{
    text-align: center;
    padding: 15px;
        }
        form input,
        form, textarea{
            width: 95%;
            margin: auto;
            font-family: "Open Sans", sans-serif;
        }
        div{
            padding: 10px;
        }
        input.btn{
            width: 90%;
            background-color: var(--darkblue);
            border: solid 1px var(--darkblue);
            color: white;
            padding: 10px;
        }
}
.modal_close {
    position: absolute;
    top: -22px;
    right: 5px;
    color: var(--orange)!important;
    text-decoration: none;
  }
/* Modal JS */
dialog{
    place-self: center;
    form input,
    form, textarea{
        width: 95%;
        margin: auto;
        font-family: "Open Sans", sans-serif;
    }
    div{
        padding: 10px;
    }
    input.btn{
        width: 90%;
        background-color: var(--darkblue);
        border: solid 1px var(--darkblue);
        color: white;
        padding: 10px;
    }
    h1{
        color: var(--darkblue);
    }    
}
.closeBtn{
    cursor: pointer;
    font-size: 30px;
    position: relative;
    left: 300px;
    top: -20px;
}
/* Main
Section 1 presentation */
#presentation{
    display: flex;
    flex-direction: row;
    padding: 50px 0;
        img{
            width: 600px;
            object-fit: cover;
        }
        h1{
            color: white;
            padding-bottom: 20px;
            justify-self: auto;
        }
        p{
            padding: 10px 100px 10px 0;
            font-size: 18px;
        }
        .btn{
            padding: 10px;
            width: 17%;
            text-align: center;
        }
}
/* Section 2 Formation */
#formation{
    max-width: 1140px;
    margin: auto;
        img{
            width: 800px;
        }
        h2,
        h3{
            color: white;
            padding-bottom: 25px;
        }
        #alacarte{
            display: flex;
            align-items: center;    
                article{
            position: relative;
            left: -10%;
            background-color: var(--orange);
            padding: 10px 30px;
                p{
                    padding: 10px 0 10px 0;
                    font-size: 16px;
                }
                .btn{
                    padding: 10px;
                    width: 40%;
                    text-align: center;
                    background-color: var(--darkblue);
                    border: 1px solid white;
                    justify-self: center;
                    position: relative;
                    top: 30px;
                }
        }}
        #dwwm{
            margin-top: 50px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            article{
                position: relative;
                top: 20px;
                right: -50px;
                max-width: 360px;
                background-color: var(--orange);
                padding: 30px;
            }
                p{
                    padding: 10px 0 10px 0;
                    font-size: 16px;
                }
                .btn{
                    padding: 10px;
                    width: 41%;
                    text-align: center;
                    background-color: var(--darkblue);
                    border: 1px solid white;
                    justify-self: center;
                    position: relative;
                    top: 50px;
                }
        }        
}
/* Section 3 Compétences */
#competences,
#competences-developpees{
    h2{
        color: white;
        padding: 80px 0 30px 0;
    }
        article{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 25px;
            details{
                border: 1px solid white;
                background-color: white;
                margin: 25px;
                padding-bottom: 10px;
                summary::marker{
                font-size: 1px;
                }   
            summary{
                color: var(--orange);
                border-bottom: 1px solid var(--pink);
                font-size: 18px;
                margin: 5px;
                width: fit-content;
                cursor: pointer;
                &:hover{
                    color: var(--pink);
                }               
            }
            li{
                color: black;
                list-style: circle;
                padding: 5px;
            }
        }}
}
/* Section 4 Projets */
#projets{
    margin: 30px 0;

    h2{
        color: white;
    }
   img{
    width: 100%;
    height: 247px;
    object-fit: cover;
   }
   .btn{
    padding: 10px;
    text-align: center;
    width: 15%;
    background-color: var(--darkblue);
    border: 1px solid white;
    }
    #projets-title{
        display: flex;
        justify-content: space-between;
        align-items: center; 
        padding: 50px 0 50px; 
    }}
    #projets .projets-articles,
    #projets-realises .projets-articles{
        display: flex;
        gap: 50px;
        article{
            display: flex;
            gap: 25px;
            flex-direction: column;
            a{
                width: 30%;
            }
        }
        article>div{
            border: 1px solid white;
            padding: 10px;
            h3{
                color: white;
                padding: 10px 0;
            }
        }
        article{
            position: relative;
        }
    }
    .front-end::before{
        content: "Front-end";
        background-color: var(--darkblue);
        color: white;
        border: 1px solid white;
        padding: 5px;
        font-size: 13px;
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 1;
    }
    .back-end::before{
        content: "Back-end";
        background-color: var(--darkblue);
        color: white;
        border: 1px solid white;
        padding: 5px;
        font-size: 13px;
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 1;
    }
/* Footer */
footer{
    background-color: var(--vert);
    text-align: center;
    padding: 15px;
}
/* Responsive Tablette accueil */
@media screen and (max-width:1024px) {
    header nav{
        display: none;
    }
    header{
        #burgermenu{
            display: flex;
            cursor: pointer;
            padding: 10px;
            color: white;
        }
    }
    .dropdown{
        display: block;
        position: absolute;
        top: 70px;
        left: 0px;
        width: 100%;
        background-color: white;
        
        ul{
            color:var(--darkblue);
            display: block;
            flex-direction: column;
  
        }
        li{
            margin: 10px 0;
            display: flex;
            justify-content: center;
            justify-self: center;
        }
        a{
            
            text-decoration: none;
            color:var(--darkblue);
            margin: 20px 0 20px 0;
        }
    }
    #presentation{
        flex-direction: column;
        padding: 50px 15px;
        p{
            padding: 0 10px 10px 0;
        }
        article{
            margin-bottom: 30px;
        }
        img{
                width: 500px;
                object-fit: cover;
                align-self: center;
            }
    }
    #formation{
        margin: 70px auto;
        img{
            width: 400px;
        }
        #alacarte article{
            padding-left: 25px;
        }
        #dwwm{
            padding-right: 25px;
        }
    }
    #projets{
        margin: 30px 15px;
        .btn{
            width: 25%;
        }
        #projets-articles,
        .projets-articles {
        display: grid;
        grid-template-columns: 1fr 1fr;
            article > a{
                width: 30%;
            }
            article:nth-child(3){
            grid-column: 1 / 3;
            }  
            article:nth-child(3) > a{
            width: 15%;
        }    
        }   
    }
}
/* Responsive Telephone accueil*/
@media screen and (max-width:767px) {
    .closeBtn{
        left: 240px;
        top: 10px;
    }
    dialog{
        padding: 0;
    }   
    h2{
        font-size: 27px;
    }
    #presentation{
        h1{
            font-size: 27px;
        }
        p{
            font-family: 16px
        }
        .btn{
            width: 40%;
        }
        img{
            width: 260px;
        }
    }
    #formation {
            img {
                width: 200px;
            }
        #alacarte {
            flex-direction: column;
            article{
                margin: 10px;
                left: 0;
                padding: 10px;
            }
        }   
        #dwwm{
            flex-direction: column;
            article {
                top: 0;
                right: -10px;
                padding: 10px;
                max-height: 570px;
            }
            .btn{
                top: 35px;
            }
        }
    }
    #competences {
        article {
            grid-template-columns: 1fr;
        }
    }
    #projets {
        #projets-title{
            flex-direction: column;
            gap:30px;
            .btn {
                width: 55%;
            }
        }
        #projets-articles{
            display: flex;
            flex-direction: column;
            img{
                height: 150px;
            }
            article{
                border: 1px solid white;
            }
            article  a,
            article:nth-child(3) > a{
                width: 32%;
                border: 1px solid white;
                margin: 10px;

            }
                article>div{
                    position: relative;
                    border: 1px solid transparent;
                }
        }
    }
    #projets > div.projets-articles{
        display: flex;
        flex-direction: column;
    }
}
/* Page Formation A la carte */
#formation1{
    #titre-formation{
        background-color: var(--pink);
        color: white;
        padding: 90px;
        p{
            justify-self: center;
        }
    }
    #description-formation{
        max-width: 1470px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 50px;
        padding-top: 40px;
        img{
            width: 100%;
        }
        h2{
            color: white;
            justify-self: flex-start;
            margin: 20px 0;
        }
        article{
            padding: 10px 60px 10px 10px;
        }
    }
    #competences-developpees{
        max-width: 1470px;
        margin: auto;
    }
    #projets-realises{
        h2{
            justify-self: left;
            padding: 60px 0;
        }
        color: white;
        max-width: 1470px;
        margin: auto;
        img{
            height: 247px;
            object-fit: cover;
           }
        .btn{
            padding: 10px;
            text-align: center;
            width: 20%;
            background-color: var(--darkblue);
            border: 1px solid white;
        }
    }
        #projets-realises > a{    
            margin: 50px;
            justify-self: center;
        }   
}
/* Responsive Tablette page FORMATION */
@media screen and (max-width:1024px) {   
    #formation1 #description-formation{
        grid-template-columns: 1fr;
        padding: 20px;
    }
    #projets-realises{
        h2{
            margin: 0 20px;
        }
        .projets-articles{
            flex-direction: column;
        }
        img{
            width: 100%;
        }
        article{
            margin: 15px;
            border: 1px solid white;
            padding: 5px;
        }
    }
    #projets .projets-articles, #projets-realises .projets-articles article>div {
            border: none;
    }  
}
/* Responsive Telephone page FORMATION */
@media screen and (max-width:767px) {
    #formation1{
        h1,
        h2{
            font-size: 27px;
        }
        #titre{
            padding: 20px;
            p{
                padding-top: 10px;
                text-align: center;
            }
        }
        #description-formation {
            padding: 0;
        }
        #competences-developpees{
            text-align: center;
                article{
                    grid-template-columns: 1fr;
                }
        }
        #projets-realises{
            a.btn{
                width: 48%;
            }
            img{
                height: 160px;
            }
        }
    }
}
/* Page projets */
#projets1{
    #titre-projets{
        background-color: var(--pink);
        color: white;
        padding: 90px;
        p{
            justify-self: center;
        }
    }
    #section-projets{
        max-width: 1140px;
        margin: auto;
        img{
            width: 100%;
            object-fit: cover;
            max-width: 300px;
            aspect-ratio: 4 / 3;  
            height: auto;  
            display: block;
            place-self: center;
        }
    }    
    #section-projets #div-projets{
            margin: 80px 0;          
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 3rem;
            justify-items: stretch;
        }
    #section-projets article{
        position: relative;
        h3{
            white-space: nowrap;
            overflow: hidden;
            color: white;
            padding: 20px 0;
        }
    }
    #section-projets > div > article > div{
        border: 1px solid white;
        padding: 1rem;
        margin: 20px 0;
    }
    #section-projets > div > article > a{
        padding: 10px;
        border: 1px solid white;
        cursor: pointer;
        margin: 5px;
        &:hover{
            background-color: var(--pink);
            color: white!important;
        }
    }
    #pages{
        text-align: center;
        margin: 50px;
        a{
            color: var(--orange);
            margin: 10px;
        }
        a:nth-child(1){
            color: var(--pink);
        }
    }
}

    


