@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Global */
*{
    margin: 0;
    scroll-behavior: smooth;
}
:root{
    --darkblue: #011826;
    --pink: #E7174A;
    --orange: #FF9A16;
    --vert: #2CC1AA;

    --titles:"Raleway", sans-serif;
}
body{
    background-color: var(--darkblue);
    font-family: "Open Sans", sans-serif;
}
p,
a,
ul{
    color: white;
    text-decoration: none;
    list-style: none;
}
.btn{
    display: block;
    padding: 0 5px;
    border: 1px solid orange;
    background: orange;
    cursor: pointer;
    }
a:hover{
    color: var(--pink);
}
h1{
    font-family: var(--titles);
    font-size: 36px;
    font-weight: 700;
}
header,
main{
    max-width: 1470px;
    margin: auto;
}

/* Header */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
        nav ul{
            display: flex;
            gap: 20px;
        }
        a{
            color: var(--orange);
        }
        .active{
            color: var(--pink);
        }
        img{
            width: 180px;
        }
        li a:nth-child(6){
            color: white;
        }
        nav > ul > li.btn a{
            color: white;
        }
        .btn{
            position: relative;
            &:hover{
                background-color: var(--pink);
                border: 1px solid var(--pink);

            }
        }

}
/* Modales */
.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 215px; right: 10px;
    bottom: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
    /* box-shadow: -10px 0 rgba(0, 0, 0, 0); */
  }
.modal:target {
    visibility: visible;
    opacity: 1;
  }
.modal_content {
    position: relative;
    width: 260px;
    background: white;
    padding-bottom: 10px;
    color: var(--darkblue);
        h1{
    text-align: center;
    padding: 15px;
        }
        form input,
        form, textarea{
            width: 95%;
            margin: auto;
            font-family: "Open Sans", sans-serif;
        }
        div{
            padding: 10px;
        }
        input.btn{
            width: 90%;
            background-color: var(--darkblue);
            border: solid 1px var(--darkblue);
            color: white;
            padding: 10px;
        }
}
.modal_close {
    position: absolute;
    top: -22px;
    right: 5px;
    color: var(--orange)!important;
    text-decoration: none;
  }
/* Main
Section 1 presentation */
#presentation{
    display: flex;
    flex-direction: row;
    padding: 50px 0;
        img{
            width: 600px;
            object-fit: cover;
        }
        h1{
            color: white;
            padding-bottom: 20px;
        }
        /* article{
            padding: 0 50px;
        } */
        p{
            padding: 10px 100px 10px 0;
            font-size: 18px;
        }
        .btn{
            padding: 10px;
            width: 17%;
            text-align: center;
        }
}
/* Section 2 Formation */
#formation{
    max-width: 1140px;
    background: url(../img/dev-a-la-carte.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 100px;
    background-position-x: 101%;

}
  

/* Footer */
footer{
    background-color: var(--vert);
    text-align: center;
    padding: 15px;
}

